{% for category in categories_list.items %}

    cauko
        <form  action="{% url 'search_results' %}" method='post'>
            {% csrf_token %}
            <div class="input-group">
                <input type="hidden" value="{{ category }}" name="name">
                <input type="hidden" value="category" name="type">
                <button class="list-group-item list-group-item-warning" type="submit">           {# {{ recipe.get_absolute_url }} #}
                    {{ ingredient }}
                </button>
            </div>
        </form>
{% endfor %}