{#<div style="width: 100%; text-align: center;">#}
{% for category in categories_list %}

        <div style="display: inline-block;">
        <form  action="{% url 'search_results' %}" method='post'>
            {% csrf_token %}
                <input type="hidden" value="{{ category }}" name="name">
                <input type="hidden" value="category" name="type">
                <button class="list-group-item list-group-item-warning" type="submit">           {# {{ recipe.get_absolute_url }} #}
                    {{ category }}
                </button>
        </form>
        </div>
{% endfor %}
{#</div>#}

