<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

{% extends "Cookbook/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
     {{ name }}     {#    Home: {{ user.username }}#}
{% endblock %}

{% block content %}

{% if recipe %}
<form enctype="multipart/form-data" method="POST" role="form" action="{% url 'recipes:edit_recipe' recipe=recipe.id %}">
{% else %}
<form enctype="multipart/form-data" method="POST" role="form" action="{% url 'recipes:new_data' %}">
{% endif %}

  <div class="row">
    <div class="col-md-6 mb-3">
        {{ form.name|as_crispy_field }}
    </div>

    <div class="col-md-6 mb-3">
        {{ form.website|as_crispy_field }}
    </div>
  </div>
    <br>

  <div class="row">
    <div class="col-md-4 mb-3">
        {{ form.difficulty|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-3">
        {{ form.portions|as_crispy_field }}
    </div>
    <div class="col-md-4 mb-3">
        {{ form.time|as_crispy_field }}
    </div>
  </div>
  <br>

  <label for="ingredient_fields">Ingredients</label>
  <div class="row">
    <div class="col-sm-4 nopadding">
      <div class="form-group">
          {% if ingredients and ingredients.0.set != "general" %}
              <input type="text" class="form-control" id="group" name="group" value="{{ ingredients.0.set }}" placeholder="Group">
          {% else %}
              <input type="text" class="form-control" id="group" name="group" value="" placeholder="Group">
          {% endif %}
      </div>
    </div>
    <div class="col-sm-4 nopadding">
      <div class="form-group">
          {% if ingredients %}
              <input type="text" class="form-control" id="ingredient" name="ingredient" value="{{ ingredients.0.name }}" placeholder="Ingredient">
          {% else %}
              <input type="text" class="form-control" id="ingredient" name="ingredient" value="" placeholder="Ingredient">
          {% endif %}
      </div>
    </div>
    <div class="col-sm-4 nopadding">
      <div class="form-group">
        <div class="input-group">
          {% if ingredients %}
              <input type="text" class="form-control" id="quantity" name="quantity" value="{{ ingredients.0.quantity }}" placeholder="Quantity">
          {% else %}
              <input type="text" class="form-control" id="quantity" name="quantity" value="" placeholder="Quantity">
          {% endif %}
          <div class="input-group-btn">
            <button class="btn btn-success" id="ingredient_button" type="button"  onclick="ingredient_fields('');"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
          </div>
        </div>

      </div>
    </div>
    <div id="ingredient_fields"></div>
    <div class="clear"></div>
  </div>
  <br>
  <script>
    {% for ingredient in ingredients %}
        {% if ingredient.id != ingredients.0.id %}
            ingredient_fields("{{ ingredient.set }}", "{{ ingredient.name }}", "{{ ingredient.quantity }}");
        {% endif %}
    {% endfor %}
  </script>


  <label for="procedure_fields">Procedure</label>
  <div class="row">
    <div class="col-sm-2 nopadding">
      <div class="form-group">
          {% if procedure %}
              <input type="text" class="form-control" id="step" name="step" value="{{ procedure.0.name }}" placeholder="Name of step">
          {% else %}
              <input type="text" class="form-control" id="step" name="step" value="" placeholder="Name of step">
          {% endif %}
      </div>
    </div>
    <div class="col-sm-10 nopadding">
      <div class="form-group">
        <div class="input-group">
            {% if procedure %}
              <textarea class="form-control" rows="3" id="text" name="text" placeholder="Procedure">{{ procedure.0.procedure }}</textarea>
            {% else %}
              <textarea class="form-control" rows="3" id="text" name="text" placeholder="Procedure"></textarea>
            {% endif %}
          <div class="input-group-btn">
            <button class="btn btn-success" id="procedure_button" type="button"  onclick="procedure_fields('');"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
          </div>
        </div>

      </div>
    </div>
    <div id="procedure_fields"></div>
    <div class="clear"></div>
  </div>
  <br>
  <script>
    {% for step in procedure %}
        {% if step.id != procedure.0.id %}
            procedure_fields("{{ step.name }}", "{{ step.procedure }}");
        {% endif %}
    {% endfor %}
  </script>



  <label for="category_fields">Categories</label>
  <div class="row">
    <div class="col-sm-12 nopadding">
      <div class="form-group">
        <div class="input-group">
                {% if categories %}
                    <input type="text" class="form-control" id="category" name="category" value="{{categories.0.name}}" placeholder="Name of category">
                {% else %}
                    <input type="text" class="form-control" id="category" name="category" value="" placeholder="Name of category">
                {% endif %}
                <div class="input-group-btn">
                    <button class="btn btn-success" id="category_button" type="button"  onclick="category_fields('')"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
                </div>
        </div>


      </div>
    </div>
    <div id="category_fields"></div>
    <div class="clear"></div>
  </div>
  <br>

  <script>
    {% for category in categories %}
        {% if category.id != categories.0.id %}
            category_fields("{{ category.name }}");
        {% endif %}
    {% endfor %}
  </script>





  <div class="row">
      <div class="col-md-3 mb-3">
        {{ form.picture|as_crispy_field }}
      </div>
  </div>
    <br>


    {% csrf_token %}

  <button class="btn btn-primary" type="submit" value="">Submit form</button>
</form>







{% endblock %}