<pre>{{ json_pretty }}</pre>

{#{% for item in json_pretty %}#}
{#    <p>{{ item }}</p>#}
{#{% endfor %}#}
{##}
{#{% if json_pretty.difficulty %}#}
{#    <p>{{ json_pretty.difficulty }}</p>#}
{#{% else %}#}
{#    <p>No info about difficulty is available.</p>#}
{#{% endif %}#}
{##}
{#{% if json_pretty.portions %}#}
{#    <p>{{ json_pretty.portions }}</p>#}
{#{% else %}#}
{#    <p>No info about portions is available.</p>#}
{#{% endif %}#}
{##}
{#{% if json_pretty.time %}#}
{#    <p>{{ json_pretty.time }}</p>#}
{#{% else %}#}
{#    <p>No info about time is available.</p>#}
{#{% endif %}#}