{% if ingredients_list %}

    <table style="width:100%">
        <col width="20%">
        <col width="80%">
        {% for ingredient, quantity in ingredients_list.items %}
            <tr>
                <td>{{ quantity }}</td>
                <td>
                    <a class="list-group-item list-group-item-warning" href="{{ recipe.get_absolute_url }}">
                        {{ ingredient }}
                    </a>

                </td>
            </tr>
        {% endfor %}
    </table>

{% endif %}