{% extends "Cookbook/base.html" %}

{% block title %}
     {{ name }}     {#    Home: {{ user.username }}#}
{% endblock %}

{% block content %}
    <h1 class="section-title">{{ name }}</h1>     {#    <h2 class="text-primary">Welcome, {{ user.username }}</h2>#}

    <div class="row">
        <div class="col-md-4">
            <br>
            <h3 class="info-title">Difficulty</h3>
            {% if difficulty %}
                <p>{{ difficulty }}</p>
            {% else %}
                <p>Difficulty was not specified.</p>
            {% endif %}

            <br>
            <h3 class="info-title">Portions</h3>
            {% if portions %}
                <p>{{ portions }}</p>
            {% else %}
                <p>Number of portions was not specified.</p>
            {% endif %}

            <br>
            <h3 class="info-title">Time</h3>
            {% if time %}
                <p>{{ time }}</p>
            {% else %}
                <p>Total time was not specified.</p>
            {% endif %}
            <br>

        </div>

        <div class="col-md-8">
            <img src="{{MEDIA_URL}}{{picture.url}}" alt="Image of recipe is not present" style="margin: auto; display: block; height: 338px">
        </div>
    </div>

    {% if categories %}
    <br>
    <div class="row">
        <h4>Categories: </h4>
            {% include "recipes/categories_list.html" with categories_list=categories %}
{#        {% for category in categories %}#}
{#            {% include "recipes/categories_list.html" with categories_list=category %}#}
{#        {% endfor %}#}
    </div>
    {% endif %}

    <br>
    <div class="row">
        <div class="col-md-4">
            <h3 class="section-title">Ingredients</h3>
            <div style="border-style: solid; padding: 10px; background: ivory; border-radius: 20px">

                {% if ingredients.general %}
                        <br>
                        {% include "recipes/ingredients_list.html" with ingredients_list=ingredients.general %}
                {% endif %}
                {% for group, ingredients in ingredients.items %}
                    {% if group != "general"%}
                        <br>
                        <strong>{{ group }}</strong>
                        {% include "recipes/ingredients_list.html" with ingredients_list=ingredients %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <h3 class="section-title">Procedure</h3>
        <div class="col-md-8">

            {% for step, procedure in recipe.items %}
                <strong><h4 style="color: red">{{ step }}</h4></strong>
                <p>{{ procedure }}</p>
            {% endfor %}
        </div>

    </div>
    </div>

{% endblock %}
