{% extends "Cookbook/base.html" %}

{% block title %}
    Home: {{ user.username }}
{% endblock %}

{% block content %}
    <h2 class="text-primary">Welcome, {{ user.username }}</h2>

    <div class="row">
        <div class="col-md-9">
            <div class="new_recipe_wrapper">

                <h3 class="section-title">Add new recipe:</h3>
                <div style="display: inline-block;">
                    <p>
                        <a class="btn btn-primary"
                           href="{% url 'recipes:data_from_url' %}">Add by url</a>
                    </p>
                </div>

                <div style="display: inline-block;">
                    <p>
                        <a class="btn btn-primary"
                           href="{% url 'recipes:new_data' %}">Fill out form</a>
                    </p>
                </div>
            </div>

            <br>
            <h3 class="section-title">Your recipes: </h3>

            {% include "recipes/recipe_list_snippet.html" with recipes_list=my_recipes %}

        </div>

        <div class="col-md-3">
            <h3 class="section-title">Search:</h3>

            {% include "Cookbook/search_bar.html" with recipes_list=my_recipes searched_item="recipe" %}

            <br>
            <h3 class="section-title">Search by category:</h3>
            {% include "recipes/categories_list.html" with categories_list=categories %}
            <br>

            <h3 class="section-title">Search by ingredients:</h3>

            {% include "Cookbook/search_bar.html" with recipes_list=my_recipes searched_item="ingredient"%}

        </div>
    </div>

{% endblock %}
