{% extends "Cookbook/base.html" %}

{% load crispy_forms_tags %}
{% block title %}
    Login
{% endblock %}

{% block content %}

    <form role="form"
          action="{% url 'player_login' %}"
          method="post">
          {% csrf_token %}

          <h3 class="info-title">Please login</h3>

          {{ form | crispy }}


          <div style="display: inline-block;">
            <button type="submit" class="btn btn-success">Sign in</button>
          </div>

          <div style="display: inline-block;">
            <p>
                <a class="btn btn-primary"
                   href="{% url 'signup' %}">Create new account</a>
            </p>
          </div>
    </form>



{% endblock %}